    *,*:before,*:after{
     /*border:1px solid red;*/
     box-sizing: border-box;
	font-family: Roboto, sans-serif;	  
    }
    body{
      margin:0;
	  /*background:url(bg.jpg) center no-repeat fixed;
	  background-size:cover;*/
	  overflow:hidden;
    }
    .body{
		width:100%;
		height:100%;
		/*border:3px solid yellow;*/
		background-image:linear-gradient(to bottom, rgba(5,5,5,0.7), rgba(5,5,5,0.7)), url(bg.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size:cover;
		/*background:rgba(5,5,5,0.7);*/
		position:absolute;
		bottom:0;
		overflow:auto;
	}
    /*-----------------------------------------header-------------------------*/
    .header{height:50px;background:rgb(56,0,60);}
	.header img{height:50px;}
    /*-----------------------------------------main---------------------------------*/
    .main{width: 100%;/*border:1px solid green*/;position:relative;}
    /*----------------------------------------League table-------------------------------*/
	.outer{
		height:400px; margin: 2.5% 0; 
		overflow:hidden;
		/*border:1px solid black;*/
		position:relative;
	}
	.outer2{
		height:400px; margin: 2.5% 0; 
		overflow:hidden;
		/*border:1px solid black;*/
		position:relative;
	}
    .inner{
		width:100%;
		overflow-y:auto;
		overflow-x:hidden;
		box-sizing:initial;
		padding-right:19px;
		position:absolute;
		top:70px;
		bottom:20px;
	}
	.inner table,.inner th,.inner tr,.inner td{/*border:1px solid green;*/}
	.inner table{
		width:100%;
		border-collapse:collapse;
		border-spacing:2px;
		margin-left:7px;
	}
	.inner th,.inner td{
		vertical-align:middle;
		text-align:center;
		border:none;
		font-size:12px;
	}
	.inner td{background:rgba(240,240,240,0.3)}
	.inner tr:nth-child(even){background:lightgrey;}
	.inner tr:nth-child(odd){color:lightgrey;}
	.inner td:nth-child(3),.inner th:nth-child(3){text-align:left;}
	.inner td:nth-child(3):after{
		content:"";
		height:20px;
		border-right:1px solid grey; 
		float:right;
	}

	.inner td:nth-child(8),.inner th:nth-child(8),
	.inner td:nth-child(9),.inner th:nth-child(9){display:none;}
	.inner tr:hover{background:rgba(56,0,60,1);}
	.lcaption{
		font-size:16px;
		padding:15px;
		font-weight:900;
		color:rgb(255,255,255);
		text-align:center;
		margin-top:10px;
	}
	.lcaption2{
		font-size:16px;
		padding:15px;
		font-weight:900;
		color:rgb(255,255,255);
		text-align:center;
		margin-top:10px;
	}
	/*----------------------------------------team information---------------------------------------------*/
	.in{margin-top:20px;display:none;position:relative;/*border:1px solid white;*/}
	.teamInfo{margin:25px 0 2.5%;position:relative}
	.teamInfo > div{
		width:100%; 
		margin: auto; 
		margin-top:15px;
		margin-bottom:15px;
		position:relative;
		overflow:hidden;
		/*border:1px solid green;*/
		background:rgba(240,240,240,0.1)
	}
	.teamInfo > div:first-child{height:465px;}
	#teamList{
		width:95%;
		height:70px;
		margin:2.5%;
		overflow-x:auto;
		overflow-y:hidden;
		position:relative;
		padding-bottom:10px;
	}
	/*-------------------------------------teamList------------------------------*/
	#teamList table{border-collapse:collapse;height:60px;}
	#teamList td{
		text-align:center;
		padding: 0 5px;
	}
	.list{box-sizing:initial;}
	.list:hover{width:45px;height:45px;}
	/*--------------------------------------result---------------------------------*/
	/*---------------------------------Last Game----------------------------*/
	#lastGame{
		position:aboslute;
		color:white;
	}
	#lastGame table, #lastGame tr, #lastGame td{
		border:none;
		border-spacing:0;
	}
	#time{font-size:12px;}
	#lResult{
		font-size:30px;
		vertical-align:middle;
		padding:15px 5px 0px 5px;
	}
	#homePic img, #awayPic img{ width:45px; height:45px}
	#homeName,#awayName{font-weight:600;width:20%;}
	#lHalf{font-size:13px;padding-top:10px;}
	/*------------------------------All game------------------------------------*/
	.title{
		width:100%;
		border-top:1px solid white;
		font-size:14px;
		padding:20px 10px 10px;
		box-sizing:initial;
		margin-left:15px;
		color:rgba(200,200,200,1);
		font-weight:600;
	}
	#allGame{
		width:100%;
		position:absolute;
		overflow-y:auto;
		height:290px;
		box-sizing:initial;
		padding:0 9.5px;
		color:white;
	}
	#allGame table{border-spacing:0;font-size:14px;}
	#allGame tr:nth-child(even):hover{background:rgba(250,250,250,0.3)}
	/*------------------------------performance---------------------------------*/
	#performance{width:97%;margin:auto;}
	#chart{
		height:275px;
		width:95%; 
		margin:auto
	}
	#sum{
		width:95%; 
		line-height:1.8; 
		margin:auto; 
		padding-top:7px;
		font-size:11px; 
		color:white;
		background:rgba(10,10,10,0.4);
		text-align:center;
	}
/*--------------------------------------Head to head-------------------------------------*/
.back{
	width:100%;
	height:100%;
	background:rgba(5,5,5,0.7);
}
#hToh{
	background:url(h2h.png) center no-repeat;
	background-size:cover;	
	position:absolute;
	font-size:12px;
	top:-15px;
	color:white;
}
#hToh caption{
	font-size:16px;
	padding-top:10px;
	font-weight:900;
	color:
}
#h2h tr:nth-child(odd) td:after{
	content:"";
	border:1px solid grey;
	position:absolute; 
	width:90%;
	margin:5px 4px 0 3px;
}

/*---------------------------------------------ipad lanscape--------------------------------------*/
@media only screen and (min-width:568px){
	.inner th,.inner td{padding:10px;font-size:14px;}
	.outer{height:600px;}
	.outer2{height:600px;}
	#sum{
		width:95%; 
		line-height:1.8; 
		margin:auto; 
		padding-top:7px;
		font-size:12px; 
		color:white;
		background:rgba(10,10,10,0.4);
	}
}
@media only screen and (min-width:769px){
	.header{height:50px;}
	.header img{height:50px;}
	/*----------------------------------------League table-------------------------------*/
	.inner td:nth-child(3),.inner th:nth-child(3){text-align:left;display:table-cell;}
	.inner td:nth-child(8),.inner th:nth-child(8),
	.inner td:nth-child(9),.inner th:nth-child(9){display:table-cell;}
	
	/*----------------------------------------team information----------------*/
	.teamInfo > div{width:47%;display:inline-block;margin:15px 1%;position:absolute;}
	/*----------------------------------------lastGame---------------------------*/
	#homePic img, #awayPic img{ width:50px; height:50px}
	#chart{height:350px;margin-top:30px;}
	#performance{height:440px;}
	#result{top:5px;}
	#end{right:2%;top:5px;}
}

/*---------------------------------------------Pc, Laptop--------------------------------------*/
@media only screen and (min-width:1035px){
	.header{height:60px;}
	.header img{height:60px;}
	/*----------------------------------------League table-------------------------------*/
	.outer{
		display:block;
		width:90%;
		height:700px;
		margin:2.5% 5% 0 5%;
	}
	.lcaption{font-size:24px;}
	.inner caption{text-align:left; font-size:20px;}

	hr{display:none;}
	/*----------------------------------------team information----------------*/
	.rap{
		width:100%;
		min-width:307px;
		position:absolute;
		margin:auto;
		padding:0;
		display:block;
	}
	.rap2{
		width:27%;
		display:inline-block;
		margin:3% 0 2.5% 20px;
		background:rgba(240,240,240,0.1);
		position: absolute;
		top:60px;
		right: 4%;
		overflow:hidden;
	}
	.outer2{
		width:63%;
		height:800px;
		display:inline-block;
		margin:2.5% 0 0 2%;
		position: absolute;
		top:70px;
		left: 2%;
	}
	#teamList{width:100%;}
	.in{
		width:100%;		
	}
	.teamInfo{
		width:100%;
		position:relative;
		padding:0;
		margin:0;	
	}
	
	.teamInfo > div{
		width:100%;
		margin:0; 
		position:static;
	}
	#end{right:0%;}
	#teamList{margin:0;}
	/**---------------------------------last game---------------------------*/
	#lResult{font-size:28px;}
	#chart{
		height:200px;
		width:99%; 
		margin:auto;
	}
	#sum{
		width:99%; 
		line-height:1.8; 
		margin:auto; 
		padding-top:7px;
		font-size:10px; 
		color:white;
		background:rgba(10,10,10,0.4);
	}
	#performance{height:auto; margin-top:0px;}
}